@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
body{ font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Open Sans', sans-serif;
   
    }

/* 초기화작업 */
*{margin: 0;padding: 0;box-sizing: border-box;}
a{text-decoration: none;}
li{list-style: none;}


header{position: fixed;left: 0; top: -110px;width: 100%;z-index: 11;transition: all 1s ease-in-out;}
header.on{top: 0;}


header .inner{
    width: 1540px;
    height: 90px;
    border-bottom: 2px solid #fff;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header .inner h1{position: relative;}

header .inner h1 img{width: calc(420px / 2); position: absolute;left: 0;top: 50%; transform: translateY(-50%);}

/* 이미지 로고 하얀색/컬러로고 */
header .inner h1 .img_white{opacity: 1;}
header .inner h1 .img_color{opacity: 0;}


/* lang box */
.lang_box{padding-right: 46px;}
.lang_box a{font-size: 16px;font-weight: 500;color: #fff;margin-right: 16px;font-family: 'OpenSans';}
.lang_box a:last-child{opacity: 0.5;}

header .header_right{display: flex;justify-content: flex-end;}



/* 햄버거버튼에  active class가 붙으면 */
/* cover */
.cover{position: fixed;left: 0; top: 0; width: 100vw;height: 100vh;background: rgba(0, 0, 0, 0.8);z-index: 9;display: none;}


/* 전체메뉴 */
.allmunu_wrap{
    position: fixed;
    width: 60%;
    height: 100%; 
    right: -100%; 
    top: 0; 
    background: #fff;
    z-index: 10; 
    padding: 100px 80px;
    transition: all 0.5s ease-in-out;
}

header.active .allmunu_wrap{right: 0;}


.allmunu_wrap .inner{width: 952px;height: 100%;  display: flex;align-items: center;}

.allmunu_wrap .inner .allmenu{width: 100%;height: 100%; display: flex;justify-content: space-between;}

.allmunu_wrap .inner .allmenu>li>a{font-size: 22px; font-weight:700 ; color: #1a1a1a;position: relative;}

.allmunu_wrap .inner .allmenu>li>a::before{content: '';width: 30px; height: 1px; background: #1a1a1a; position: absolute;left: 0; bottom: -25px;}

/* 2단메뉴 */

.allmunu_wrap .inner .allmenu>li>.depth2{margin-top: 45px;}
.allmunu_wrap .inner .allmenu>li>.depth2>li>a{font-size: 16px;font-weight: 600; color: #1a1a1a;line-height: 24px; }

.allmunu_wrap .inner .allmenu>li>.depth2>li>.depth3>li>a{font-size: 14px; font-weight: 500;color: #5a5a5a;}

.allmunu_wrap .inner .allmenu>li>.depth2>li{margin-bottom: 15px;}


header .btn_all_menu{display: block;width: 33px; height: 24px; z-index: 11; position: relative;}

header .btn_all_menu span{position: absolute;left: 0;top: 0;background: #fff;width: 100%;height: 4px;transition: all 0.3s ease-in-out;}



header.active .btn_all_menu span{ background: #000;}

header.active .btn_all_menu span:nth-child(1){top: 20px;transform: rotate(45deg);}

header.active .btn_all_menu span:nth-child(2){width: 0;}
header .btn_all_menu span:nth-child(2) {top: 50%;transform: translateY(-50%);}

header.active .btn_all_menu span:nth-child(3){top: 20px;}
header.active .btn_all_menu span:nth-child(3){top: 20px;transform: rotate(-45deg);}


header .btn_all_menu span:nth-child(2){top: 50%; transform: translateY(-50%);}
header .btn_all_menu span:nth-child(3){top: 22px; transform: translateY(-50%);}



/*herdaer두번째herdaer */
header.down{
    height: 90px; 
    background: #fff; 
    border: 2px solid #dcdcdc;
}

header.down .inner{border-bottom: 2px solid transparent;} 
header.down .inner .img_white{opacity: 0;}
header.down .inner .img_color{opacity: 1;}
header.down .inner .lang_box a{color: #000;}
header.down .inner .btn_all_menu span{background: #000;}



.visual{width: 100vw;height: 100vh;background: #ccc; z-index: 10;position: relative;}
.visual .slider{width: 100%; height: 100%;z-index: #000;}

.visual .slider div{width: 100%;height: 100%;}

.visual .slider .visual01{background: url(../images/mv1.jpg)no-repeat center top;text-indent: -99999PX;} 
.visual .slider .visual02{background: url(../images/mv2.jpg)no-repeat center top;text-indent: -99999PX;} 
.visual .slider .visual03{background: url(../images/mv3.jpg)no-repeat center top;text-indent: -99999PX;} 
.visual .slider .visual04{background: url(../images/mv4.jpg)no-repeat center top;text-indent: -99999PX;} 
.visual .slider .visual05{background: url(../images/mv5.jpg)no-repeat center top;text-indent: -99999PX;} 
.visual .slider .visual06{background: url(../images/mv6.jpg)no-repeat center top;text-indent: -99999PX;} 



/* 슬라이드 페이지 버튼 */
.visual .slider .slick-dots{position: absolute;left: 50px;top: 50%; transform: translateY(-50%);}

.visual .slider .slick-dots li button{width: 20px;height: 2px;background: #fff; opacity: 0.5; text-indent: -99999px;border: none;
transition: all 0.3s ease-in-out;}

.visual .slider .slick-dots .slick-active button{width: 40px; opacity: 1;}

.visual .visu_text_wrap{position: absolute;left: 190px; top: 0;height: 100%;display: flex;flex-direction: column; justify-content: center;
transform: translateY(40px);z-index: 12; opacity: 0;transition: all 1s ease-in-out;}

.visual .visu_text_wrap.on{opacity: 1; transform: translateY(0);}



.visual .visu_text_wrap h2{font-size: 44px; color: #fff;font-weight: 700;font-family: "opne sans";}

.visual .visu_text_wrap p{font-size: 15px;color: #fff; font-weight: 700;margin-top: 35px;}

.visual .visu_text_wrap .visuBtn{margin-top: 35px;}
.visual .visu_text_wrap .visuBtn a{
    /* 옆으로 배치하면서 크기설정 */
    display:inline-block; 
    width: 185px;height: 38px;border: 1px solid #fff;color: #fff;font-weight: 500;font-size: 13px;line-height: 38px;
    padding: 0 16px;position: relative;}

.visual .visu_text_wrap .visuBtn a::before{width: 34px; height: 10px; content: ''; background: url(../images/arrow.png);
position: absolute;right: 16px; top: 50%; transform: translateY(-50%);}

.visual .visu_text_wrap .visuBtn a:hover{background: #fff; color: #222;}

.visual .visu_text_wrap .visuBtn a:hover::before{background: url(../images/arrowov\ 1.png);}

/* scroll */
.visual .scroll{position: absolute;bottom: 40px; left: 50%; transform: translateX(-50%);
animation: scroll_ani 1s ease-in-out infinite;} 

@keyframes scroll_ani{
    0%{bottom: 40px;}
    50%{bottom: 20px;}
    100%{bottom: 40px;} 
}

/* main section1 */
.section1{padding: 120px 0 240px;}

.section1 .inner{max-width: 1300px;margin: 0 auto; }

.section1 .inner .sec_tit{display: flex;justify-content: space-between;align-items: flex-end;}

.sec_tit h2{font-size: 30px; font-weight:700;color: #333;}
.sec_tit p{font-size: 20px; color: #999;margin-top: 20px;}

.section1 .inner .sec_tit .blue_btn{display: block;width: 207px; height: 65px; background: #004785;color: #fff;text-align: center;
line-height: 65px;}

main .business_wrap{max-width: 1084px;  margin: 0 auto; position: relative;}

main .business_wrap .business_list{display: flex; flex-wrap: wrap;}

main .business_wrap .business_list li{width:calc(50% - 30px);margin-top: 60px;}

main .business_wrap .business_list li:nth-child(2n){margin-left: 60px;}

main .business_wrap .business_list li:hover .imgbox::before{right: -15px; bottom: -15px;}

main .business_wrap .business_list li:hover .txtbox h3{font-size:22px;color: #004785; transition: all 0.5s ease-in-out;}


main .business_wrap .business_list li img{width: 100%; height: 100%;position: relative;z-index: 3;}

main .business_wrap .business_list li .imgbox{width: 100%; height: 510px; position: relative;z-index: 2;}

main .business_wrap .business_list li .imgbox::before{content: '';width: 70%;height: 50%;background: #004785;
position: absolute;right: 0;bottom: 0;z-index: 1;transition: all 0.5s ease-in-out;}


main .business_wrap .business_list .txtbox{margin-top: 20px;}

main .business_wrap .business_list .txtbox h3{font-size: 16px; font-weight: #555; }
main .business_wrap .business_list .txtbox p{font-size: 15px; color: #b9b9b9;line-height: 23px;margin-top: 16px;}

main .business_wrap .sec1_bg{position: absolute; top: 95%; right: -20%;}



/*  section2 */
main .section2{width:100%; padding: 120px 0;background: #ececec;}

main .section2 .inner{max-width: 1300px; margin: 0 auto;}

main .section2 .imgbox{text-align: center;margin-top: 80px;}
main .section2 .imgbox img{max-width: 100%;}

main .section2 .more{display: block; width: 149px; height: 42px; border: 1px solid #333;text-align: center;line-height: 42px;
font-size: 13px; color: #333; font-weight: 900; font-family: 'Opne Sans';margin: 0 auto;}

main .section2 .more:hover{background: #fff;}


/* section3  */
.section3{width: 100%; padding: 120px 0; background: #2d343c;}

.section3 .inner{max-width: 1300px; margin: 0 auto; }

.section3 .inner .sec3_list{display: flex;flex-wrap: wrap;justify-content: center; gap: 44px;}

.section3 .inner .sec3_list li a{display: block; position: relative;overflow: hidden;}

.section3 .inner .sec3_list li a h3{font-size: 18px; color: #fff; font-weight: 700; position: absolute;left:50%; top: 50%;
transform: translate(-50%,-50%);}

.section3 .inner .sec3_list li a .imgbox img{transition: all 0.3s ease-in-out;}

.section3 .inner .sec3_list li a:hover .imgbox img{transform: scale(1.1);}



/* section4  */
.section4{width: 100%; padding: 120px 0; }
.section4 .inner{max-width: 1200px; margin: 0 auto; }

.section4 .inner .sec4_list{display: flex; margin: 80px 0;}

.section4 .inner .sec4_list li{width: 25%;}

.section4 .inner .sec4_list li a{display: block;display: flex;flex-direction: column; justify-content: space-between;}


.section4 .inner .sec4_list li a h3{font-size: 16px; font-weight: 700;color: #333;}

.section4 .inner .sec4_list li a .date{font-size: 15px; color: #9E9D9B;font-weight: 700; margin: 50px 0 80px;}

.section4 .inner .sec4_list li a .more_arrow{display: inline-block; font-family: 'Open Sans'; font-size: 12px; font-weight: 500; color: #333;
padding-right: 40px; background: url(../images/arrowov\ 1.png)no-repeat center ;background-size: 15px;}

.section4 .inner .sec4_list li:last-child a .date{margin-bottom: 58px;}

.section4 .inner .sec4_list li:hover h3{text-decoration: underline;}

.section4 .inner .imgbox{text-align: center;}


/* section5 */
.section5{width: 100%;padding: 120px 0; border-top: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;}

.section5 .inner{max-width:1300px; margin: 0 auto;}

.section5 .inner .sec5_list{display: flex;}

.section5 .inner .sec5_list li{width: calc(100% / 3);text-align: center;position: relative;}

.section5 .inner .sec5_list li + li::before{content: '';width: 1px; height: 215px; background: #dcdcdc; position: absolute;
left: 0; top: 50%; transform: translateY(-50%);}

.section5 .inner .sec5_list li a {display: block;}

.section5 .inner .sec5_list li a h3{font-size: 18px; font-weight: 700; color: #333;}

.section5 .inner .sec5_list li a .imgbox{height: 226px; justify-content: center; align-items: center; display: flex;}


.section5 .inner .sec5_list li a p{font-size: 15px; color: #8e8e8e; font-weight: 700}

.section5 .inner .sec5_list li a .imgbox img{width: 130px; transition: all 0.3s ease-in-out;}

.section5 .inner .sec5_list li:hover .imgbox img{width: 150px;}


/* footer */
footer{width: 100%; padding: 30px 0 40px;}

footer .inner{width: 1300px;  margin: 0 auto;display: flex;justify-content: space-between;align-items: center;
}

footer .inner  h2 img{width: calc(100% / 2);}

footer .inner .footer_info{font-size: 13px; color: #8e8e8e;margin: 20px 0 30px;}

footer .inner .left p{font-size: 12px; color: #8e8e8e;}

footer .inner .footer_btnP{margin-top: 50px;}
footer .inner .footer_btn a{font-size: 13px;font-weight: 500;color: #8e8e8e;}

footer .inner .footer_btn a:hover{color: #555;font-weight: 700;}





/* footer */
/* footer{width: 100%;padding: 30px 0 40px; border: 1px solid red;}

footer .inner{max-width: 1300px; margin: 0 auto;display: flex; justify-content: space-between;align-items: center;
font-size: 14px; color: #dcdcdc;}

footer .inner .footer_right p{margin-top:  35px;}

footer .inner .footer_right a img{width: 222px; height:38px; } */